@import 'spinner.scss';
@import 'lib/react-autosuggest.scss';
@import '~bootstrap/scss/bootstrap';

$primary-blue: #247ba0;

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.react-autosuggest__input {
  width: 100%;
  height: 4vh;
  font-size: 1.5rem;
}

.react-autosuggest__suggestions-container--open {
  width: 100%;
}

.header {
  background-color: $primary-blue;
  height: 6vh;
  align-items: center;
}

.body {
  height: 90vh;
  padding: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.search {
  margin: 10px;
  width: 50vw;
}

.placeholder {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph__chart {
  height: 100%;
  width: 100%;
}

.funddetail {
  color: white;
  padding: 20px;
  height: 5vh;
  margin: 10px;
}

.funddetail__title {
  font-size: 1.5em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.funddetail__remove:hover {
  color: $primary-blue;
  cursor: pointer;
}
