@import 'spinner.scss';
@import 'lib/react-autosuggest.scss';
@import '~bootstrap/scss/bootstrap';

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.neg-return {
  color: red;
}

.pos-return {
  color: green;
}

.react-autosuggest__input {
  width: 100%;
  height: 3rem;
}

.react-autosuggest__suggestions-container--open {
  width: 100%;
}

.header {
  background-color: #247ba0;
  height: 5vh;
}

.body {
  height: 80vh;
  padding: 10px;
}

.search {
  margin: 10px;
  width: 50vw;
}

.placeholder {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  height: 100%;
  width: 100%;
}

.graph__title {
  color: #50514f;
  font-size: 16pt;
}

.graph-tooltip {
  border: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  background-color: #f2f2f2;
  padding: 5px;
}

.graph-tooltip__date {
  font-weight: bold;
}

.funddata__container {
  background-color: #f7f7f7;
}

.funddata__title {
  font-size: 2.5rem;
}
