@import 'spinner.scss';
@import 'lib/react-autosuggest.scss';
@import '~bootstrap/scss/bootstrap';

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}

.neg-return {
  color: red;
}

.pos-return {
  color: green;
}

.react-autosuggest__input {
  width: 100%;
  height: 4vh;
  font-size: 1.5rem;
}

.react-autosuggest__suggestions-container--open {
  width: 100%;
}

.header {
  background-color: #247ba0;
  height: 6vh;
  align-items: center;
}

.body {
  height: 80vh;
  padding: 10px;
  margin-left: 5vw;
  margin-right: 5vw;
}

.search {
  margin: 10px;
  width: 50vw;
}

.placeholder {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graph {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.graph__title {
  color: #50514f;
  font-size: 16pt;
}

.graph__chart {
  height: 100%;
  width: 100%;
}

.yaxis {
  font-size: medium;
}

#zeroLine {
  stroke: gray;
  stroke-dasharray: 2;
}

.xaxis {
  font-size: medium;
}

.graph-tooltip {
  border: solid;
  border-width: 1px;
  border-color: #e5e5e5;
  background-color: #f2f2f2;
  padding: 5px;
}

.toolTip {
  width: 25px;
  height: 25px;
}

.graph-tooltip__date {
  font-weight: bold;
}

.funddata__container {
  padding: 20px;
  background-color: #f7f7f7;
}

.funddata__title {
  font-size: 2.5rem;
}
